body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #242121;
  user-select: none;
  font-family: 'VT323', monospace;
  flex-direction: column;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.animate-color-change {
  transition: background-color 0.5s ease;
}


@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.3);
  }
  to {
    text-shadow: 0 0 15px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 0.7), 0 0 45px rgba(0, 255, 255, 0.5);
  }
}

@keyframes glow-red {
  from {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5), 0 0 30px rgba(255, 0, 0, 0.3);
  }
  to {
    text-shadow: 0 0 15px rgba(255, 0, 0, 1), 0 0 30px rgba(255, 0, 0, 0.7), 0 0 45px rgba(255, 0, 0, 0.5);
  }
}


.instruction {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0;
  max-width: 600px;
  border: 3px solid #d54090;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393e42;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin: 0;
  border: 1px solid #000;
  cursor: pointer;
}

.grid-item:hover {
  background-color: #d54090;
}

.sidebar {
  background-color: #333;
  padding: 10px;
  margin-left: 20px;
  max-width: 150px;
  min-width: 40px;
  border: 2px solid #d54090;
  border-radius: 7px;
  align-self: center;
}

.sidebar-text {
  margin: 15px 0;
  text-align: center;
  opacity: 0; /* Set initial opacity to 0 for animation */
  animation: fade-in 1s forwards, glow-red 2s infinite alternate; /* Apply animation to new values */
  font-weight: bold;
  color: #ff0000; /* Red color */
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.7), 0 0 20px rgba(255, 0, 0, 0.5), 0 0 30px rgba(255, 0, 0, 0.3); /* Red shadows */
  font-size: 1.4rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .grid-container {
    max-width: 400px;
  }

  .sidebar {
    margin-left: 10px;
    min-height: 200px;
  }

  .instruction {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    max-width: 300px;
  }

  .sidebar {
    margin-left: 5px;
    min-height: 100px;
  }

  .instruction {
    font-size: 16px;
  }
}




.glowing-text {
  /* font-size: 24px; */
  font-weight: bold;
  color: #00ffff;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.7), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.3);
  animation: glow 2s infinite alternate;
}


#access-mess {
  display: none;
}

.access-granted {
  font-size: 2rem;
  font-weight: bold;
  color: #00ff00;
  text-align: center;
  padding: 7px;
  border: 2px solid #00ff00;
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  position: relative;
  animation: slideIn 1.5s forwards; /* Add the animation directly here */
}

.access-denied {
  color: #ff0000;
  border: 2px solid #ff0000;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}